   .todo-title {
      font-size: 30px;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      color: white;
      font-weight: bold;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 25px;
      background-color: rgb(25, 124, 111);
    }
    
    .datetime-control {
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      text-align: center;
      width: 243px;
      padding-left: 17px;
      padding-right: 17px;
      padding-top: 7px;
      padding-bottom: 7px;
      margin-bottom: 10px;
      border-color: rgb(25, 124, 111);
      border-radius: 25px;
    }

    .text-entry {
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 7px;
      padding-bottom: 7px;
      border-color: rgb(25, 124, 111);
      border-radius: 25px;
    }
    
    .addtolist-button {
      font-size: 20px;
      border: none;
      color: white;
      border-radius: 25px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 7px;
      padding-bottom: 7px;
      background-color: rgb(25, 124, 111);
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      cursor: pointer;
      
    }
    
    .addtolist-button {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.822);
    }